#chat-page.page.invisible.menu-maximized   
  div#chat
    div.chat-body
    div#input-area
      div.input-wrapper
        div.textarea
          textarea(rows=2).msg-area
        button#msg-send Send
  div#chat-menu
    ul.top-menu
      li.user.minimize-hide
        img.avatar.logined-show
        span.logined-show.minimize-hide
        button.unlogined-show.login-btn Login
        a(href="/logout").logined-show Logout 
    ul.chat-mates
      div.users-icon
        img(src="/images/users-icon.png")
        span.minimize-hide Users
    footer
      button.toggle-panel-btn