#intro-page.page.invisible
  section
    h1 Hi, Hackers!
    div 
      p There is obviously a lack of chat apps in the universe, so we decided to solve this problem and build this one.
      p Hmmm, ... but where is actually the hack?
      p We build it on top of GitHub API.
        | So all chat history is saved to GitHub. Yeah, that's right, we are using GitHub as data storage!
      p Created by <a href="https://twitter.com/m_aleksandrova" target="_blank">Maryna</a> and <a href="https://twitter.com/podviaznikov" target="_blank">Anton</a>.
      p Join Berlin Hackathon Room <a href="/room/marynaaleksandrova/gitchat/4">here</a> and have fun!
      p Checkout source code on <a href="https://github.com/marynaaleksandrova/gitchat" target="_blank">GitHub</a>
      p 
        | We used <a href="http://www.nodejs.org/" target="_blank">Node.js</a>, <a href="http://socket.io/" target="_blank">Socket.io</a> and <a href="http://jquery.com/" target="_blank">jQuery</a>.   

    div.features
      h1 App features:
      ul
        li Desktop notifications
        li Email notifications
        li Real-Time updates
        li Multiple rooms support
        li Private rooms support     