@import 'nib'
global-reset();
*
  box-sizing: border-box;
  outline: 0;
html
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
  height: 100%;
  overflow-x: hidden;

  &.unlogined
    & .unlogined-show
      display: block;
    & .logined-show
      display: none;
  &.logined
    & .logined-show
      display: block;
    & .unlogined-show
      display: none;
body
  color: #333333;
  font-size: 14px;

.chat-mates
  width: 200px;
  height: 100%;
  background-color: #3366cc;
  position: fixed;
  right: 0;
  top: 0;

#input-area
  position: fixed;
  bottom: 0;

.msg
  height: 45px;
  background-color: #ffffff;
  & .sender
    height: 45px;
    width: 45px;
    background-color: #f3f3f3;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    float: left;
    &:after
      content: "";
      display: inline-block;
      width: 0; 
      height: 0; 
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid #f3f3f3;
      position: absolute;
      right: -10px;
      top: 12px;
    & .avatar
      width: 35px;
      height: 35px;
      margin: 5px;
      float: left;
      vertical-align: middle;
      opacity: 0.9;
  & .msg-body
    margin-left: 65px;
    padding-top: 7px;

.msg:nth-child(odd)
  background-color: #eeeeee;
  & .sender
    background-color: #dddddd;
    &:after
      border-left: 10px solid #dddddd;

.date, .by-label, .author
  display: inline-block;
  font-size: 11px;
  color: #888;
  margin: 5px 2px 0px 0px;