@import 'nib'
global-reset();
*
  box-sizing: border-box;
  outline: 0;

.chat-mates
  width: 200px;
  height: 100%;
  background-color: #3366cc;
  position: fixed;
  left: 0;
  top: 0;

.chat-body
  margin-left: 200px;