@import 'nib'
global-reset();
*
  box-sizing: border-box;
  outline: 0;

body
  font: Helvetica, Arial, sans-serif;

.chat-mates
  width: 200px;
  height: 100%;
  background-color: #3366cc;
  position: fixed;
  right: 0;
  top: 0;

#input-area
  position: fixed;
  bottom: 0;

.msg
  height: 55px;
  background-color: #eeeeee;
  & .sender
    width: 250px;
    & .avatar
      width: 35px;
      height: 35px;
      margin: 10px;

.msg:nth-child(odd)
  background-color: #e6e6e6;