#intro-page
  background: #eeeeee;
  height: 100%;
  color: white;
  font-size: 17px;
  & section
    background-color: #08BCD9;
    width: 700px;
    height: 510px;
    padding: 40px 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -255px 0 0 -350px;
    & h1
      font-size: 40px;
      margin-bottom: 20px;
    & p
      margin-top: 10px;
      & a
        color: white;
        text-decoration: none;
        &:hover
          color: #0F202E;
    & .highlighted
      color: #0F202E;
    & .features
      margin-left: 20px;
      & h2
        margin-top: 25px;
        font-size: 22px;
      & li
        margin-top: 5px;
        font-size: 16px;